<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<div>
<%= link_to "features", project_features_path(@project) %>

<%= form_for([@project, @feature]) do |f| %>
  
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.submit "Save feature" %>

<% end %>
</div>